<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1><%= blogPost.title %></h1>
    <img src="<%= blogPost.imageUrl %>" alt="<%= blogPost.imageUrl %>" class="blog-image">
    <p><%= blogPost.content %></p>
    <a href="/">Back to Main Page</a>
</body>
</html>
